.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* //place rowa vertically */
.box-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 200px;
}

/* //each row has 3 box :horizontally */
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  cursor: pointer;
}

.green-color {
  background-color: green;
}
