.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  display: flex;
  background-color: blanchedalmond;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 50rem;
  align-items: center;
  height: 100vh;
}

.columns-3 {
  background-color: cadetblue;
  width: 100%;
  display: flex;
}
